:root {
	--primary-bg: #ffffff;
	--secondary-bg: #f0f0f0;
	--primary-text: #333333;
	--secondary-text: #666666;
	--accent-color: #007bff;
	--error: #dc3545;
}

body.light-mode {
	--primary-bg: var(--light-primary-bg, #ffffff);
	--secondary-bg: var(--light-secondary-bg, #f0f0f0);
	--primary-text: var(--light-primary-text, #333333);
	--secondary-text: var(--light-secondary-text, #666666);
	--accent-color: var(--light-accent-color, #007bff);
	--error: var(--light-error, #dc3545);
}

body.dark-mode {
	--primary-bg: var(--dark-primary-bg, #1e1e1e);
	--secondary-bg: var(--dark-secondary-bg, #2a2a2a);
	--primary-text: var(--dark-primary-text, #ffffff);
	--secondary-text: var(--dark-secondary-text, #a0a0a0);
	--accent-color: var(--dark-accent-color, #4caf50);
	--error: var(--dark-error, #dc3545);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	overflow-y: scroll;
	font-family: Arial, Helvetica, sans-serif;
	background: var(--primary-bg);
}

.App {
	text-align: center;
	padding-top: 100px;
}

.App h1 {
	font-size: 70px;
	margin: 0;
	padding: 10px;
	color: var(--primary-text);
	-webkit-text-stroke: 2px var(--secondary-bg);
}

.App button,
input {
	margin: 2px;
}
input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: var(--accent-color);
	color: var(--primary-text);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.error-message {
	color: var(--error);
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.search-result {
	background-color: var(--secondary-bg);
	border: 1px solid var(--accent-color);
	color: var(--primary-text);
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 20px;
	width: 25%;
}

.search-result h2 {
	font-size: 20px;
}

.search-result h4 {
	font-size: 16px;
	color: var(--secondary-text);
}

.search-result h2,
h4 {
	margin-bottom: 10px;
}

.search-result p {
	font-size: 16px;
}

.search-result footer {
	font-size: 14px;
	vertical-align: bottom;
}
